.vCenter {
    line-height: 65px;
}

.login-form {
  margin-top: 10px;
    .login-input {
        height: calc(1.6625rem + 2px);
    }
    .login-button {
        height: calc(1.6625rem + 2px);
        line-height: 0.5;
    }
    .login-form-group {
        margin-bottom: 5px;
    }
    .check-box-form-group {
        margin-left: 15px;
        .login-check-box {
            padding-left: 10px !important;
            font-size: 10px;
        }
    }
}